body {
    padding: 5em ; 
}

body > header:first-of-type {
    border-bottom: 2px solid rgb(0, 0 , 0) ; 
}

header .site-title {
    display: inline-block ; 
    min-width: 20vw ;
    font-weight: bold ; 
    font-size: 3rem ; 
    text-transform: uppercase ; 
}

header nav {
    display: inline-block ;
}

header nav ul {
    text-align: right ; 
}

header nav ul li {
    display: inline-block ;
}

header nav ul li a {
    display: block ;
    text-decoration: none ; 
    padding: 0.5em 1rem ; 
    color: rgb(0, 153, 0) ; 
    border-radius: 0.2rem ; 
}

header nav ul li a:focus,
header nav ul li a:hover {
	outline: none;
	background: rgb(0, 153, 0);
	color: rgb(255, 255, 255);
}
